<!DOCTYPE html>
<html>
<head>
    <title>{{CustomerName}} has sent an e-card from the eGreeting Portal</title>
	<meta charset="utf-8" />
</head>
<body>
    <div>
        <div style="background:#fff;padding:30px">

            <table width="100%" cellpadding="0" cellspacing="0" border="0" id="m_-2393994791542943978backgroundTable">
                <tbody>
                    <tr>
                        <td>
                            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_-2393994791542943978devicewidth">
                                <tbody>
                                    <tr>
                                        <td width="100%">
                                            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_-2393994791542943978devicewidth">
                                                <tbody>

                                                    <tr>
                                                        <td width="100%" height="10"></td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <table width="48%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="left" valign="middle" style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#282828">
                                                                            <a href="https://egreetings.gov.in/preview.php?id=MjA3NTY1Nw==" style="text-decoration:none;color:#1967a7" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=vi&amp;q=https://egreetings.gov.in/preview.php?id%3DMjA3NTY1Nw%3D%3D&amp;source=gmail&amp;ust=1499007411121000&amp;usg=AFQjCNHgz6cEzdz9_L4LVPFICfx0c-oQiQ">View Online </a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table width="48%" align="right" border="0" cellpadding="0" cellspacing="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="right" valign="middle" style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#282828"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td width="100%" height="10"></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>


            <table width="100%" cellpadding="0" cellspacing="0" border="0" id="m_-2393994791542943978backgroundTable">
                <tbody>
                    <tr>
                        <td>
                            <table bgcolor="#f1f1f1" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_-2393994791542943978devicewidth">
                                <tbody>
                                    <tr>
                                        <td width="100%">
                                            <table width="600" bgcolor="#f1f1f1" cellpadding="0" cellspacing="0" border="0" align="center" class="m_-2393994791542943978devicewidth">
                                                <tbody>

                                                    <tr>
                                                        <td height="5" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                    </tr>

                                                    <tr>
                                                        <td>

                                                            <table width="140" align="left" border="0" cellpadding="0" cellspacing="0" class="m_-2393994791542943978devicewidth">
                                                                <tbody>
                                                                    <tr>
                                                                        <td width="140" height="60" align="center">
                                                                            <div class="m_-2393994791542943978imgpop">
                                                                                <a href="#m_-2393994791542943978_">
                                                                                    <img src="https://ci3.googleusercontent.com/proxy/u08iVGIZRqwvKQs3-uZm0-mp1HV9S6Cm1XhNPJ_OhYXFPVELnmI26Jm0n_d0xtTBM05MUqTyOtpE8fgzYCaVQ2kc=s0-d-e1-ft#https://egreetings.gov.in/img/emb-egreet.png" alt="eGreeting Portal" border="0" width="193" height="60" style="display:block;border:none;outline:none;text-decoration:none" class="CToWUd">
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>


                                                            <table width="250" border="0" align="right" valign="middle" cellpadding="0" cellspacing="0" class="m_-2393994791542943978devicewidth">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="center" style="font-size:20px;color:#27ff00;font-family:font2" height="60">eGreetings Portal</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td height="5" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>


            <table width="100%" cellpadding="0" cellspacing="0" border="0" id="m_-2393994791542943978backgroundTable">
                <tbody>
                    <tr>
                        <td>
                            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_-2393994791542943978devicewidth">
                                <tbody>
                                    <tr>
                                        <td width="100%">
                                            <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="m_-2393994791542943978devicewidth">
                                                <tbody>
                                                    <tr>

                                                        <td align="center">
                                                            <div class="m_-2393994791542943978imgpop">
                                                                <a href="#m_-2393994791542943978_"><img alt="fday_16_09.jpg" width="600" border="0" height="400" style="display:block;border:none;outline:none;text-decoration:none" src="https://ci6.googleusercontent.com/proxy/fWAt6fsuKIIDiR-Rkmxpt8cPCt-rPykvC8C7t7urcdJghMlqhnwrSAjBkX2Ao5w-D8QvFl4T6wMIfctuvAFViMmjwccndrCjmVZ15N3hVQ=s0-d-e1-ft#https://egreetings.gov.in/uploadedgreeting/fday_16_09.jpg" class="m_-2393994791542943978banner CToWUd"></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>


            <table width="100%" cellpadding="0" cellspacing="0" border="0" id="m_-2393994791542943978backgroundTable">
                <tbody>
                    <tr>
                        <td>
                            <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="m_-2393994791542943978devicewidth">
                                <tbody>
                                    <tr>
                                        <td align="center" height="30" style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>


            <table width="100%" cellpadding="0" cellspacing="0" border="0" id="m_-2393994791542943978backgroundTable">
                <tbody>
                    <tr>
                        <td>
                            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_-2393994791542943978devicewidth">
                                <tbody>
                                    <tr>
                                        <td width="100%">
                                            <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="m_-2393994791542943978devicewidth">
                                                <tbody>
                                                    <tr>
                                                        <td align="center" style="font-family:font2;font-size:24px;color:#27ff00;padding:15px 0;border-radius:10px" bgcolor="#f1f1f1">
                                                            Dear {{CustomerName}},
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>


            <table width="100%" cellpadding="0" cellspacing="0" border="0" id="m_-2393994791542943978backgroundTable">
                <tbody>
                    <tr>
                        <td>
                            <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="m_-2393994791542943978devicewidth">
                                <tbody>
                                    <tr>
                                        <td align="center" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>


            <table width="100%" cellpadding="0" cellspacing="0" border="0" id="m_-2393994791542943978backgroundTable">
                <tbody>
                    <tr>
                        <td>
                            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_-2393994791542943978devicewidth">
                                <tbody>
                                    <tr>
                                        <td width="100%">
                                            <table bgcolor="#0c0c0b" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_-2393994791542943978devicewidth" style="border-radius:10px">
                                                <tbody>
                                                    <tr>
                                                        <td style="font-family:font2;font-size:24px;color:#27ff00;padding:20px;line-height:23px;padding-bottom:20px" align="center" height="50">{{CustomMesseage}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>


            <table width="100%" cellpadding="0" cellspacing="0" border="0" id="m_-2393994791542943978backgroundTable">
                <tbody>
                    <tr>
                        <td>
                            <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="m_-2393994791542943978devicewidth">
                                <tbody>
                                    <tr>
                                        <td align="center" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>


            <table width="100%" cellpadding="0" cellspacing="0" border="0" id="m_-2393994791542943978backgroundTable">
                <tbody>
                    <tr>
                        <td>
                            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_-2393994791542943978devicewidth">
                                <tbody>
                                    <tr>
                                        <td width="100%">
                                            <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="m_-2393994791542943978devicewidth">
                                                <tbody>
                                                    <tr>
                                                        <td align="center" style="font-family:font2;font-size:24px;color:#27ff00;padding:15px 0;border-radius:10px" bgcolor="#f1f1f1">
                                                            <br>{{SenderName}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>



            <table width="100%" cellpadding="0" cellspacing="0" border="0" id="m_-2393994791542943978backgroundTable">
                <tbody>
                    <tr>
                        <td>
                            <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="m_-2393994791542943978devicewidth">
                                <tbody>
                                    <tr>
                                        <td align="center" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>








            <table width="100%" cellpadding="0" cellspacing="0" border="0" id="m_-2393994791542943978backgroundTable">
                <tbody>
                    <tr>
                        <td>
                            <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="m_-2393994791542943978devicewidth">
                                <tbody>
                                    <tr>
                                        <td align="center" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>


            <table width="100%" bgcolor="#f1f1f1" cellpadding="0" cellspacing="0" border="0" id="m_-2393994791542943978backgroundTable">
                <tbody>
                    <tr>
                        <td>
                            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_-2393994791542943978devicewidth">
                                <tbody>
                                    <tr>
                                        <td width="100%">
                                            <table bgcolor="#f1f1f1" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_-2393994791542943978devicewidth" style="border-radius:10px">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <table width="290" align="left" border="0" cellpadding="0" cellspacing="0" class="m_-2393994791542943978devicewidth">
                                                                <tbody>

                                                                    <tr>
                                                                        <td width="100%" height="20"></td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td style="font-family:Helvetica,arial,sans-serif;font-size:18px;color:#ffffff;text-align:left">
                                                                            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fegreetings.gov.in%2Fpreview.php%3Fid%3D2075657" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=vi&amp;q=https://www.facebook.com/sharer/sharer.php?u%3Dhttps%253A%252F%252Fegreetings.gov.in%252Fpreview.php%253Fid%253D2075657&amp;source=gmail&amp;ust=1499007411122000&amp;usg=AFQjCNHsKhCtECoCa15XCB8CsliqVC4OBw"><img alt="Facebook" src="https://ci6.googleusercontent.com/proxy/R5JusajEKlONUPLSD_HMRVggthYs_gVIVvHSFKJWzyVr-u-qU_V5SyQyZOOyLd91ZYsdnVrkvrV8dPem0J54xQ=s0-d-e1-ft#https://egreetings.gov.in/img/facebook.png" class="CToWUd"></a>
                                                                            <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fegreetings.gov.in%2Fpreview.php%3Fid%3D2075657&amp;text=eGreetings" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=vi&amp;q=https://twitter.com/intent/tweet?url%3Dhttps%253A%252F%252Fegreetings.gov.in%252Fpreview.php%253Fid%253D2075657%26text%3DeGreetings&amp;source=gmail&amp;ust=1499007411122000&amp;usg=AFQjCNGaK-o3LYlVNTb1sWz5Zqd1fqUJ6g"><img alt="Twitter" src="https://ci4.googleusercontent.com/proxy/TARv-fBv_BZjJLHVAgsUGMLdoO9-1dcp70tJfOaGA8SrUp04IkNx_IbJ64-liqg2GWDy4RbTM9w18muoDv5E=s0-d-e1-ft#https://egreetings.gov.in/img/twitter.png" class="CToWUd"></a>
                                                                            <a href="https://plus.google.com/share?url=https%3A%2F%2Fegreetings.gov.in%2Fpreview.php%3Fid%3D2075657" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=vi&amp;q=https://plus.google.com/share?url%3Dhttps%253A%252F%252Fegreetings.gov.in%252Fpreview.php%253Fid%253D2075657&amp;source=gmail&amp;ust=1499007411122000&amp;usg=AFQjCNGrm-IS0cmfsSD1WQpLh9fIwp5qUg"><img alt="Google Plus" src="https://ci3.googleusercontent.com/proxy/Zt-Gvw5BcqH3iQV-TsRsmrR8eat5ZXw4N930EJsSEUlKlfFtxcrGTtQZBdevpM30j8g2xZ00T_q3Hnj05QE=s0-d-e1-ft#https://egreetings.gov.in/img/google.png" class="CToWUd"></a>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td width="100%" height="10"></td>
                                                                    </tr>





                                                                </tbody>
                                                            </table>


                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>


            <table width="100%" cellpadding="0" cellspacing="0" border="0" id="m_-2393994791542943978backgroundTable">
                <tbody>
                    <tr>
                        <td>
                            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_-2393994791542943978devicewidth">
                                <tbody>
                                    <tr>
                                        <td width="100%">
                                            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_-2393994791542943978devicewidth">
                                                <tbody>

                                                    <tr>
                                                        <td width="100%" height="20"></td>
                                                    </tr>

                                                    <tr>
                                                        <td align="center" valign="middle" style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#27ff00">
                                                            Please do not reply on this email.<a href="https://egreetings.gov.in/" alt="eGreetings Portal" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=vi&amp;q=https://egreetings.gov.in/&amp;source=gmail&amp;ust=1499007411122000&amp;usg=AFQjCNHWeS6sHQHysOKTAAv43zxFBIxNfQ">Click Here</a> to send another eGreeting card.
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td width="100%" height="20"></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <img style="display:none" src="https://ci4.googleusercontent.com/proxy/EyUuvIv0yAh5YtO3mM-JVtimPKAQhL7lnWbHHZ07j5faEKbnxt3JH6MiVqaN9Dv4dO0bwqdRFtRFCCHTO4xAsO07emnEobSiOIK3YAgT6YUjwf4sRJjvyJKx=s0-d-e1-ft#https://egreetings.gov.in/mail-read.php?id=MjA3NTY1Nw==&amp;e_mailread=N" width="0" height="0" class="CToWUd"><div class="yj6qo"></div><div class="adL">
        </div>
    </div>
</body>
</html>
